body{
  background-image: linear-gradient(to right, #5df5b6, #ed72e9);
}
body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
<style>
body {
  background-image: url('simple-background-backgrounds-passion-simple-1-5c9b95d2d9f93.jpg');
}
</style>
